.calc {
    &-container {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    &-wrapper {
        width: 100%;
        max-width: 800px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;
        border-bottom-right-radius: 150px;
        padding: 50px;
    }

    &-input-container {
        display: flex;
        gap: 50px;

        .date-inputs {
            display: flex;
            flex-direction: column;
            gap: 5px;
            label {
                text-transform: uppercase;
                color: hsl(0, 1%, 44%);
                letter-spacing: 3px;
            }
            input {
                max-width: 155px;
                height: 65px;
                outline: none;
                padding: 15px;
                font-size: 2rem;
                border: 1px solid hsl(0, 0%, 86%);
                border-radius: 8px;
                transition: all 0.2s ease-in;

                &:focus {
                    border-color: hsl(259, 100%, 65%);
                }
            }
        }
    }

    &-mid-container {
        margin-top: 50px;
        margin-bottom: 50px;

        .horizontal-line {
            width: 700px;
            max-width: 700px;
            position: relative;
            border: 1px solid hsl(0, 0%, 86%);
        }
        .submit-btn {
            position: absolute;
            transform: translateY(-50%);
            right: -1px;
            border: none;
            background-color: hsl(259, 100%, 65%);
            width: 70px;
            height: 70px;
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: hsl(0, 0%, 8%);
            }
        }
    }

    &-result-container {
        .result-data {
            font-weight: 800;
            font-size: 4rem;
            margin: 3px 0;
        }
        .age-number {
            color: hsl(259, 100%, 65%);
        }
    }
}